body {
    margin: 20px auto;
    background-image: linear-gradient(to left bottom, #000000, #181316, #241f28, #2b2e3c, #2c3e50);
}
h1{
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  /*DISENO DE LA TABLA*/   
table{
   width: 100%;
   background-color:#cfd9df;
   border: 5px solid transparent;
   border-image:linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%)1;
   
}
button,input{
   width: 100%;
   font-size: 150%;
}
input{
   text-align: center;
   outline-color: #cfd9df;
 }
.ac {
   color:#B20600;
   font-weight: bold;
}
/*DISENO PARA LOS BOTONES*/
button{
   background-image: linear-gradient(to left top, #54bab9, #4bc1bf, #40c8c4, #32cfc9, #1cd6ce);
   border:  2px solid #1cd6ce;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding: 12px;
   
}
button:hover{
   color: #fff;
}

/*diseno del input*/
input{
   background-color:#79B4B7;
   border: #79B4B7;
   color: #fff;
}
body {
    margin: 20px auto;
    background-image: linear-gradient(to left bottom, #000000, #181316, #241f28, #2b2e3c, #2c3e50);
 }
 h1{
    color: white;
    text-align: center;
  }
  /*DISENO DE LA TABLA*/   
 table{
   width: 100%;
   background-color:#000000;
   border: 5px solid transparent;
   border-image:linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%)1;
 }
 
 button,input{
   width: 100%;
   font-size: 150%;
 }
 input{
   text-align: center;
   outline-color: #cfd9df;
 }
 .ac {
   color:#B20600;
   font-weight: bold;
 }
 /*DISENO PARA LOS BOTONES*/
 button{
   background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
   border: none;
   
 }
 
 /*diseno del input*/
 input{
   background-color:black;
   border: #79B4B7;
   color: #fff;
 }
 /* BOTM DE MOVIMIENTO*/
 .primary-button {
    font-family: 'Ropa Sans', sans-serif;
       /* font-family: 'Valorant', sans-serif; */
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid #0E1822;
    padding: 0.8rem 10rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: #0E1822;
    background-size: 200%;
    background-position: 200%;
    background-repeat: no-repeat;
    transition:0.5s ease-in-out;
    transition-property: background-position, border, color;
    position: relative;
    z-index: 1;
   }
   
   .primary-button:hover {
    border: 1px solid #FF4655;
    color: white;
    background-position: 40%;
   }
   
   .primary-button:before {
    content: "";
    position: absolute;
    background-color: #0E1822;
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out;
   }
   
   .primary-button:hover:before {
    background-color: white;
   }
   
   .primary-button:hover:after {
    background-color: white;
   }
   
   .primary-button:after {
    content: "";
    position: absolute;
    background-color: #FF4655;
    width: 0.3rem;
    height: 0.3rem;
    bottom: -1px;
    right: -1px;
    transition: background-color 0.15s ease-in-out;
   }
   /**/
   .button-borders {
    position: relative;
    width: fit-content;
    height: fit-content;
   }
   
   .button-borders:before {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    top: -0.3em;
    border: 1px solid #0E1822;
    border-bottom: 0px;
       /* opacity: 0.3; */
   }
   
   .button-borders:after {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    bottom: -0.3em;
    border: 1px solid #0E1822;
    border-top: 0px;
       /* opacity: 0.3; */
    z-index: 0;
   }
   
   .shape {
    fill: #0E1822;
   }
 .container{
    display:flex;
   align-items: center;
   justify-content:center;
   flex-direction: column;
 }  

     